{% extends 'base.html.twig' %}

{% block title %}Ajouter Chantier{% endblock %}

{% block body %}
    <h1>Enregistrer nouveux Chantier</h1>

    {{ include('chantier/_form.html.twig') }}

    <a href="{{ path('chantier_index') }}">back to list</a>
{% endblock %}
