<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %} 
    </head>
    <style>
        label.required:after {
        content: "*";
        }
    </style>
    <body>
       <nav class="navbar navbar-inverse">
            <div class="container-fluid">               
                <ul class="nav navbar-nav">
                <li class="active"><a href="/user">Utilisateur</a></li>
                <li ><a href="/chantier">Chantier</a></li>
                 <li ><a href="/pointeuse">Pointeuse</a></li>
                </ul>
            
            </div>
        </nav>

        {% block body %}
       
        {% endblock %}
         {% block javascripts %} {% endblock %}
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

       
    </body>
</html>
